@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&family=Lugrasimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&family=Lugrasimo&family=Stick+No+Bills:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    
}

/* Animação do background do body */
@keyframes fundo {

    from {
        background-position: left;
        background-size: 2000px; 

    }

    to {
        background-position: right;
        background-size: 2000px; 
    }
}


/* Animação da galaxia e sistema solar girando */
 @keyframes rotation {
    from {
        transform: rotate(0deg),;
        
    }

    to {
        transform: rotate(360deg);
    }
} 

::-webkit-scrollbar {
    display: none;
}

body { 
    background-image: url(../imagens/b3.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    animation: fundo 120s linear infinite;
    animation-direction: alternate;  
    
}

.filtro {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.107);  
    

}

#filtro-section2 {
    background-color: rgba(0, 0, 0, 0.121);  

}

section {
    width: 100%;
    
}

.primeira-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.896);
    

}

.primeira-section h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 14em;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 200;
    
}

.primeira-section p {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    width: fit-content;
    font-size: 1.8em;
    padding: 2px 4px 2px 4px;
    background-color: rgba(0, 0, 0, 0.493);
    text-align: center;
    text-transform: uppercase;
    
}

h2 {
    font-family: 'Stick No Bills', sans-serif;
    text-transform: uppercase;
    font-size: 2.2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    letter-spacing: 2px;

}




.segunda-section {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

article {
    text-align: center;
    background-color: #ffffff0b;
    backdrop-filter: blur(4px);
    border-top: 2px solid #ffffff50;
    border-right: 2px solid #ffffff55;
    width: 700px;
    height: 600px;
    border-radius: 5px;
    padding: 1.5em;
}

.segunda-section p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    padding: 0 2em 0 2em;
    text-align: left;
    font-size: 1.2em;
    letter-spacing: 1px;    
    
}

.galaxia-rotation {
    overflow: hidden;
    z-index: -1;
   

}

.galaxias {
    width: 600px; 
    opacity: 100%; 
    animation: rotation 50s linear infinite;   
    overflow: hidden;
}

/* --------------------- Galeria das galaxias ----------------------------*/

.terceira-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terceira-section h2 {
    margin: 0;
    width: 100%;
    text-shadow: 5px 5px 8px black;
    font-size: 2.8em;
    color: white;
    text-align: center;
    background-color: rgba(23, 23, 23, 0.662);
    backdrop-filter: blur(4px);
    padding: 1em 0 1em 0;
}


.terceira-section  h3 {
    font-size: 2em;

}
.fotos_galaxias {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 1500px;
    height: 550px;
    border: 2px solid rgba(24, 6, 64, 0.351);
    border-radius: 8px;
}

.galeria, .container-img{
    display: flex;
    width: 100%;
    height: 100%;
}

.galeria .container-img, .img-nocover {
    aspect-ratio: 9/16;
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover; 
    opacity: 95%;
    transition: .5s;
}

.container-img {
    position: relative;
    overflow: hidden;
    
}

.info-galaxia {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: -150px; 
    background-color: rgba(0, 0, 0, 0.471);
    transition: bottom .7s;
    text-align: center;
   
}

.container-img:hover {
     flex: 1 1 300px;  /* ao passar mouse em cima, imagem cresce para 300px de largura a imagem e o restante vai se adaptar*/
     opacity: 100%;
}

.container-img:hover .info-galaxia {
    bottom: 0;
}

.container-img p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 10px 8px 0px 8px;
}

/* -------------------- Sistema solar ------------------------------- */

.quarta-section {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.quarta-section article {
    border-right: none;
    border-left: 2px solid #ffffff70;
    background-color: #0000004c;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.quarta-section p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em 2em 0 2em;
    text-align: left;
    font-size: 1.2em;
    letter-spacing: 1px;  
}

.sistema-solares {
    max-width: 700px;
}
.quarta-section img {
    width: 100%;
    animation: rotation 70s linear infinite;

}


.quarta-section .bloco-3 h2 {
    margin-top: 0;
}

/* Planetas do sistema solar */

.quinta-section h2 {
    margin: 0;
    width: 100%;
    text-shadow: 5px 5px 8px black;
    font-size: 2.8em;
    color: white;
    text-align: center;
    background-color: rgba(23, 23, 23, 0.662);
    backdrop-filter: blur(4px);
    padding: 1em 0 1em 0;

}

