@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&family=Lugrasimo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&family=Lugrasimo&family=Stick+No+Bills:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Stick No Bills', sans-serif;
    
}

@keyframes fundo {

    /* Da esquerda */
    from {
        background-position: left;
        background-size: 1800px; 

    }

    /* para direita */
    to {
        background-position: right;
        background-size: 1600px; 
    }
}

 @keyframes rotation {
    from {
        transform: rotate(0deg),;
        
    }

    to {
        transform: rotate(360deg);
    }
} 

::-webkit-scrollbar {
    display: none;
}

body { 
    background-image: url(../imagens/b3.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    animation: fundo 100s linear infinite;
    animation-direction: alternate; 
    
}

.filtro {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.029);  
    

}

section {
    width: 100%;
    
}

.primeira-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.896);
    

}

.primeira-section h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 11em;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 200;
    
}

.primeira-section p {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    width: fit-content;
    font-size: 1.5em;
    padding: 2px 4px 2px 4px;
    background-color: rgba(0, 0, 0, 0.493);
    text-align: center;
    text-transform: uppercase;
    
}

h2 {
    font-family: 'Stick No Bills', sans-serif;
    text-transform: uppercase;
    font-size: 2.2em;
    margin-bottom: 1.2em;
    margin-top: 0.5em;
    letter-spacing: 2px;

}

.segunda-section {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

article {
    text-align: center;
    background-color: #ffffff0b;
    backdrop-filter: blur(4px);
    border-top: 2px solid #ffffff50;
    border-left: 2px solid #ffffff55;
    width: 700px;
    height: 600px;
    border-radius: 5px;
    padding: 1.5em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    padding: 0 2em 0 2em;
    text-align: left;
    font-size: 1.2em;
    letter-spacing: 1px;    
    
}

.galaxia-rotation {
    overflow: hidden;
    z-index: -1;
   

}

img.galaxias {
    width: 600px; 
    opacity: 90%; 
    animation: rotation 50s linear infinite;  
    overflow: hidden;
    
}


.bloco1 {
    border-left: 2px solid rgb(173, 173, 173);
    border-top: 2px solid rgb(75, 75, 75);
}

.bloco2 {
    border-right: 2px solid rgb(173, 173, 173);
    border-top: 2px solid rgb(75, 75, 75);
}

.ultimo-paragrafo {
    padding-bottom: 1em;

}


.terceira-section {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terceira-section h2 {
    text-shadow: 5px 5px 8px black;
    font-size: 2.8em;
    color: white;
    text-align: center;
    background-color: rgba(23, 23, 23, 0.662);
    backdrop-filter: blur(4px);
    padding: 1em 0 1em 0;
}



